@import "../../vars.css"; 

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%; 
} 

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px; 
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage{
    width: 35%;
}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 15px;
    size: 0%;
    background-repeat: no-repeat;
}

.aboutItem:hover{
    background: linear-gradient(90deg, #2e9ff0cd 0%, rgba(25, 55, 109, 0) 100%);
}

.aboutItem h3{
    font-size: 20px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 20px;
}

@media screen and (max-width: 830px){
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-top: 50px;
    }

    .content{
        flex-direction: column;
    }

    .aboutImg{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
        align-items: center;
    }

    .aboutItem{
        padding: 10px;
        margin-left: -40px;
    }

    .title{
        text-align: center;
    }

}
